@media (max-width: 421px) {
    .toggle-switch-container {
        text-align: center;
        padding-right: 5%;
        
        
      }
   
  }
  
  @media (min-width: 421px) {
    .toggle-switch-container {
        text-align: center;
        padding-right: 1%;
        
      }
   
  }

  .toggle-switch {
   
    position: relative;
    width: 120%;
    display: inline-block;
    text-align: left;
    
  }
  .checkbox {
    display: none;
  }
  .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;
  }
  .inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  .inner:before,
  .inner:after {
    float: left;
    width: 50%;
    height: 85%;
    padding: 0;
    line-height: 220%;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
  }
  .inner:before {
    content: "Done";
    padding-left: 5%;
    background-color: #060;
    color: #fff;
  }
  .inner:after {
    content: "Hold";
    padding-right: 5%;
    background-color: #bbb;
    color: #fff;
    text-align: right;
  }
  .switch {
    display: block;
    width: 35%;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 53%;
    border: 0 solid #bbb;
    border-radius: 40px;
    transition: all 0.3s ease-in 0s;
  }
  .checkbox:checked + .label .inner {
    margin-left: 0;
  }
  .checkbox:checked + .label .switch {
    right: 0px;
  }