.kitchen-order-details {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  padding-top: 20px; /* Adjust the padding value as needed */
}

@media screen and (min-width: 421px) {
  .kitchen-order-details {
    justify-content: center;
    padding-top: 0;
  }
}

.kitchen-page-titleContainer {
  border-radius: 10px;
  background-color: #bbbaba;
  padding: 1%;
  width: 90%;
  align-self: center;
}

.kitchen-page-detailsContainer {
  border-radius: 10px;
  background-color: #FFFFFF;
  padding: 1%;
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.kitchen-page-row {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  cursor: pointer;
}

.kitchen-page-label {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5px;
}

.kitchen-order-row {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.detailsContainer{
  margin-top: 6px;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
}