
.kitchen-order-details{
  height: 80vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    
}
.kitchen-page-titleContainer {
    border-radius: 10;
    background-color: #e1e1e1;
    padding: 1%;
    width: 90%;
    align-self: center;
  }
  .kitchen-page-detailsContainer {
      border-radius: 10;
      background-color: #FFFFFF;
      height:100%;
      padding: 1%;
      width: 90%;
      align-self: center;
      display: flex;
      flex-direction: column;
      
    }
  
  .kitchen-page-row{
    justify-content: space-between;
    flex-direction: row;
    display: flex
   
  }
  
  .kitchen-page-label {
      font-size:15px;
    font-weight: bold;
    margin-right: 5;
  }