@media screen and (min-width: 422px){
  .kitchen-page-header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 30px;
    justify-items: center;
  }
  .kitchen-page-title {
    font-size: 20px;
    margin-left: 10px;
  }
  .kitchen-page-heading {
    display: flex;
    align-items: center;
    font-size: larger;
  }
  .kitchen-logo {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-left: 80px;
  }
}
@media screen and (max-width: 421px)  {
  .kitchen-page-header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-items: center;
  }
  .kitchen-page-title {
    font-size: 40px;
    margin-left: 10px;
  }
  .kitchen-page-heading {
    display: flex;
    align-items: center;
    font-size: larger;
  }
  .kitchen-logo {
    width: 50px;
    height:50px;
    margin-left: 50px;
  }
}
