
.kitchen-order-details-kitchen {
  display: flex;
  padding-top: 1%;
  overflow-y: auto;
  border: 1px solid #ccc;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 2px rgba(39, 38, 38, 0.289);
  border-radius: 15px;
 }
 .kitchen-order-food-details{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  width: 80%;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 2px rgba(39, 38, 38, 0.289);
  
  
}
.kitchen-order-food-name{
  font-weight: bold;
}
.kitchen-sub-order-food-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.kitchen-collapsible-section {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.kitchen-collapsible-header {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.kitchen-collapsible-content {
  justify-content: center;
  display: flex;
  
}
.order-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 90%;
  box-sizing: border-box;
}

.order-details-label{
  margin-right: auto; /* Push label to left corner */
}

.orderId {
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 0px;
}
.container_date_label {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  color: rgb(207, 204, 204);
}
.details{
  background-color: rgb(164, 164, 164);
}


.kitchen-arrow {
  transition: transform 0.3s;
  cursor: pointer;
}

.kitchen-collapsed {
  transform: rotate(-90deg);
  cursor: pointer;
}

.label{
  margin-top: 20px;
  margin-bottom: 10px;


}
.ready-button {
  border: none;
  border-radius: 20px;
  padding: 3% 6%;
  font-size: 100%;
  cursor: pointer;
  align-items: center;
  margin-bottom: 30px; 
  background-color: green;
  color: white;
}

.name{
  color: #404040;
  margin-right: 90px;
}

.date{
  color: #404040;

}

.notification{
  text-align: center;
}
.kitchen-page-title{
  font-size: 25px;
}
.kitchen-page-logo{
  margin-right: 30px;
}



@media screen and (max-width: 421px) { 
  .kitchen-page-logo{
    width: 80px;
    height: 80px;
    margin-left: 0;
  }
  .kitchen-order-details-kitchen{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .order-details-container {
    justify-content: space-between;
    align-items: center;
  }
  .kitchen-order-close-icon {
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    margin-left: auto; /* Push icon to right corner */
  }

}

@media screen and (min-width: 422px) { 
  .kitchen-page-logo{
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
 .kitchen-order-details-kitchen{
    width: 40%;
    margin-top: 0;
  }
  .order-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adjust padding as needed */
    background-color: #fdf7f7; /* Optional: Add background color */
  }
  .kitchen-order-close-icon {
    cursor: pointer;
    font-size: 1em;
    color: #000000;
    margin-left: auto; /* Push icon to right corner */
  }

}
