@media (max-width: 421px) {
 .order-main-container{
  display: none;
 }
 
}

@media (min-width: 421px) {
  .order-main-container{
    display: flex;
   }
}
.order-main-container {
   margin: 2%;
    width: 30%;
    height: 580px;
    overflow-y: auto; /* Add scrollbar if content overflows vertically */
    padding-left: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 2px 2px rgba(39, 38, 38, 0.289);
    border-radius: 15px;
  }
  
  .text-row {
    margin: 5px 0;
    font-size: 14px;
  }
  .custom-button-cashier {
    border: none;
    border-radius: 20px; /* Adjust the border-radius for curved edges */
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    outline: none;
  }
  .food-order-details{
    overflow-y: auto;
    height: 60%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 15px;
    width: 90%;
  }
  