@media (max-width: 421px) {
    
    .grid-container-shortEats {
        display: grid;
        grid-template-columns: repeat(2, 0.5%); /* 3 columns each with 100px width */
        column-gap: 50%;
        row-gap: 3%;
        justify-content: start;
        align-items: center;
       
      }
      
  }
  
  @media (min-width: 421px) {
    
    .grid-container-shortEats {
        display: grid;
        grid-template-columns: repeat(3, 0.5%); /* 3 columns each with 100px width */
        column-gap: 60%;
        row-gap: 10%;
        justify-content: center;
        align-items: center;
      }
      
      
  }

  
  

  .background-container-shortEats {
    display: flex;
    padding-top: 1%;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background-color: transparent;
    overflow-y: auto; /* Enable vertical scrolling */
  }