@media (max-width: 421px) {
    .header{
        padding-right:0;
        padding-left:0;
        justify-content:center;
        flex-direction: column;
        display: flex;
        align-items: center;
      }
      .title{
        font-size: 25px;
      }
      .detailsContainer{
        height:740px;
      }
   
  }
  
  @media (min-width: 421px) {
    .header{
        padding-right:5%;
        padding-left:5%;
        justify-content: space-between;
        flex-direction:  row;
        display: flex;
      }
      .title{
        font-size: 40px;
      }
      .detailsContainer{
        height:570px;
      }
   
  }
.titleContainer {

    border-radius: 10;
    background-color: #e1e1e1;
    /*shadowColor: "#000",
    shadowOffset: {
      width: 0,
      height: 2,
    },
    shadowOpacity: 0.2,
    shadowRadius: 4,
    elevation: 5;*/
    padding: 1%;
    width: 90%;
    align-self: center;
  }
  .detailsContainer {
      border-radius: 10;
      background-color: #FFFFFF;
      padding: 1%;
      width: 90%;
      align-self: center;
      display: flex;
      flex-direction: column;
      
    }
  
  .row{
    justify-content: space-between;
    flex-direction: row;
    display: flex
   
  }
  
  .label {
      font-size:15px;
    font-weight: bold;
    margin-right: 5;
  }