@media (max-width: 421px) {
    .header{
        padding-right:0;
        padding-left:0;
        justify-content:center;
        flex-direction: column;
        display: flex;
        align-items: center;
      }
      .title{
        font-size: 25px;
      }
      .detailsContainer{
        height:740px;
      }
   
  }
  
  @media (min-width: 421px) {
    .header{
        padding-right:5%;
        padding-left:5%;
        justify-content: space-between;
        flex-direction:  row;
        display: flex;
      }
      .title{
        font-size: 40px;
      }
      .detailsContainer{
        height:570px;
      }
   
  }
.titleContainer {

    border-radius: 10px;
    background-color: #bbbaba;
    padding: 1%;
    width: 90%;
    align-items: center;
    height: 60px;
  }
  .detailsContainer {
      border-radius: 10;
      background-color: #FFFFFF;
      padding: 1%;
      width: 90%;
      align-self: center;
      display: flex;
      flex-direction: column;
      
    }
  
  .row{
    margin-bottom: 5%;
    justify-content: space-between;
    flex-direction: row;
    display: flex
    
   
  }
  
  .label {
      font-size:16px;
    font-weight: bold;
    margin-right: 5;
  }