@media (max-width: 421px) {
    .cashier-search-container {
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 0 0 1% ;
        width: 80%;
        
        
      }
      
      .cashier-search-input {
        display: flex;
        border: none;
        outline: none;
        padding: 3% 5% 3% 4%;
        border-radius: 20px;
        font-size: 100%;
        width: 100%;
      }
   
  }
  
  @media (min-width: 421px) {
    .cashier-search-container {
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding: 1% 2%;
      }
      
      .cashier-search-input {
        border: none;
        outline: none;
        padding: 3% 10% 3% 4%;
        border-radius: 20px;
        font-size: 100%;
      }
   
  }

  
  