/* TopTabNavigation.css */
.top-tab-navigation-cashier {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    padding: 0.5%;
    margin-left: 5%;
  }
  
  .tab-cashier {
    cursor: pointer;
    padding: 0.4%;
    padding-left: 4%;
    padding-right: 4%;
    margin-right: 10px;
    border: 2px solid rgb(193, 64, 0);
    border-radius: 20px; 
    font-weight: bolder;
  }
  
  
  
  